dmenu.font: Monospace:size=12
dmenu.foreground: #FF5787
dmenu.background: #FFFFFF
dmenu.selforeground: #151515
dmenu.selbackground: #ee3b3b

xterm*foreground: #eeeeee
xterm*background: #151515
xterm*metaSendsEscape: true

! Black
*color0: #151515
*color8: #151515

! Red
*color1: #555753
*color9: #555753

! Green
*color2: #66ff66
*color10: #66ff66

! Yellow
*color3: #5cb5ff
*color11: #5cb5ff

! Blue
*color4: #ff4d94
*color12: #ff4d94

! Magenta
*color5: #94ffe9
*color13: #94ffe9

! Cyan
*color6: #e6e6e6
*color14: #e6e6e6

! Gray
*color7: #ee3b3b          
*color15: #ee3b3b
